{% extends "loans/base.html" %}

{% block content %}
<div class="chunk">
    <div class="upload">
        <h2>Loan Application Tracker</h2>
            <ul class="progress-indicator">
                <li class="completed"> <span class="bubble"></span> Log In </li>
                <li class="completed"> <span class="bubble"></span> Submit Application </li>
                <li class="completed"> <span class="bubble"></span> Application Status </li>
            </ul>
        <h1 style="margin-left:20px"> Your Loan Status: Approved</h1>
    </div>
</div>

{% endblock %}


